In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("F:\Education\DS_Roadmap\panda_module\weather_data.csv")

In [3]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [4]:
data1 = {
    "day": ["01/01/2017","01/02/2017", "01/03/2017","01/04/2017" ],
    "temp": [32, 34, 32,36,],
    "windspeed": [3,5,4,6],
    "event": ["Rain", "snow", "sunny", "Rain"]
}

In [5]:
data1

{'day': ['01/01/2017', '01/02/2017', '01/03/2017', '01/04/2017'],
 'temp': [32, 34, 32, 36],
 'windspeed': [3, 5, 4, 6],
 'event': ['Rain', 'snow', 'sunny', 'Rain']}

In [6]:
df2 = pd.DataFrame(data1)

In [7]:
df2

          day  temp  windspeed  event
0  01/01/2017    32          3   Rain
1  01/02/2017    34          5   snow
2  01/03/2017    32          4  sunny
3  01/04/2017    36          6   Rain

In [9]:
df.shape

(6, 4)

In [10]:
rows, columns = df.shape

In [11]:
rows

6

In [12]:
columns

4

In [13]:
df.head()

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain

In [14]:
df.tail()

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [15]:
df[2:4]

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow

In [16]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.day

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [18]:
df["day"]

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [19]:
type(df['event'])

pandas.core.series.Series

In [20]:
df[['event', 'temperature', 'windspeed']]

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           31          2

In [21]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [25]:
df.temperature.max()

35

In [26]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [28]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
4  01/05/2017           32          4   Rain

In [29]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny

In [32]:
df['day'][df.temperature==df.temperature.max()]

1    01/02/2017
Name: day, dtype: object

In [35]:
df[['day', 'temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01/02/2017           35

In [36]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [38]:
df.set_index('day', inplace=True)

In [39]:
df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
01/02/2017           35          7  Sunny
01/03/2017           28          2   Snow
01/04/2017           24          7   Snow
01/05/2017           32          4   Rain
01/06/2017           31          2  Sunny

In [41]:
df.loc['01/04/2017']

temperature      24
windspeed         7
event          Snow
Name: 01/04/2017, dtype: object

In [42]:
df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
01/02/2017           35          7  Sunny
01/03/2017           28          2   Snow
01/04/2017           24          7   Snow
01/05/2017           32          4   Rain
01/06/2017           31          2  Sunny

In [43]:
df.reset_index(inplace=True)

In [44]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [45]:
df.set_index('event', inplace=True)
df

              day  temperature  windspeed
event
Rain   01/01/2017           32          6
Sunny  01/02/2017           35          7
Snow   01/03/2017           28          2
Snow   01/04/2017           24          7
Rain   01/05/2017           32          4
Sunny  01/06/2017           31          2

In [46]:
df.loc['Rain']

              day  temperature  windspeed
event
Rain   01/01/2017           32          6
Rain   01/05/2017           32          4