In [2]:
import pandas as pd

In [16]:
india_temp = pd.DataFrame({
    "city": ["mumbai", "delhi", "bangalore","chennai"],
    "temperature": [34,30,40,45],
    
})
india_temp

        city  temperature
0     mumbai           34
1      delhi           30
2  bangalore           40
3    chennai           45

In [17]:
india_windspeed = pd.DataFrame({
    "city": ["mumbai", "bangalore", "asam"],
    "windspeed": [8,12,6],
    
})
india_windspeed

        city  windspeed
0     mumbai          8
1  bangalore         12
2       asam          6

In [18]:
pd.merge(india_temp, india_windspeed, on="city")

        city  temperature  windspeed
0     mumbai           34          8
1  bangalore           40         12

In [19]:
pd.merge(india_temp, india_windspeed, on="city", how="outer")

        city  temperature  windspeed
0     mumbai         34.0        8.0
1      delhi         30.0        NaN
2  bangalore         40.0       12.0
3    chennai         45.0        NaN
4       asam          NaN        6.0

In [21]:
pd.merge(india_temp, india_windspeed, on="city", how="left")

        city  temperature  windspeed
0     mumbai           34        8.0
1      delhi           30        NaN
2  bangalore           40       12.0
3    chennai           45        NaN

In [22]:
pd.merge(india_temp, india_windspeed, on="city", how="right")

        city  temperature  windspeed
0     mumbai         34.0          8
1  bangalore         40.0         12
2       asam          NaN          6

In [23]:
pd.merge(india_temp, india_windspeed, on="city", how="outer", indicator=True)

        city  temperature  windspeed      _merge
0     mumbai         34.0        8.0        both
1      delhi         30.0        NaN   left_only
2  bangalore         40.0       12.0        both
3    chennai         45.0        NaN   left_only
4       asam          NaN        6.0  right_only

In [27]:
india_weather = pd.DataFrame({
    "city": ["mumbai", "delhi", "bangalore"],
    "temperature": [34,30,40],
    "humidity": [80,60,58]
})

In [28]:
india_weather1 = pd.DataFrame({
    "city": ["mumbai", "delhi", "bangalore"],
    "temperature": [45,35,43],
    "humidity": [83,64,51]
})

In [36]:
df = pd.merge(india_weather, india_weather1, on='city')

In [37]:
df

        city  temperature_x  humidity_x  temperature_y  humidity_y
0     mumbai             34          80             45          83
1      delhi             30          60             35          64
2  bangalore             40          58             43          51

In [38]:
df = pd.merge(india_weather, india_weather1, on='city', suffixes=['_left', '_right'])
df

,city,temperature_left,humidity_left,temperature_right,humidity_right
0,mumbai,34,80,45,83
1,delhi,30,60,35,64
2,bangalore,40,58,43,51